/vendor/
/node_modules/
/bootstrap/ssr
/public/storage
/public/hot
/public/build
/storage/*.key
/storage/pail
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/.phpunit.cache
/.vscode
/.zed
/.idea

.DS_Store
.env
.env.backup
.env.production
.env.docker
.phpactor.json
auth.json
npm-debug.log
yarn-error.log
.phpunit.result.cache
Homestead.yaml
Homestead.json